footer.footer.py-5
  .container
    .row.g-4
      .col-lg-4.col-md-6
        h4.footer-title Music Streaming
        p.footer-desc
          | Nền tảng nghe nhạc trực tuyến hiện đại, giúp người dùng khám phá,
          | thưởng thức và lưu trữ những bản nhạc yêu thích mọi lúc mọi nơi.

      .col-lg-2.col-md-6
        h5.footer-subtitle Khám phá
        ul.footer-links
          li
            a(href="/") Trang chủ
          li
            a(href="/songs") Bài hát
          li
            a(href="/topics") Thể loại
          li
            a(href="/singers") Ca sĩ

      .col-lg-3.col-md-6
        h5.footer-subtitle Hỗ trợ
        ul.footer-links
          li
            a(href="/about") Giới thiệu
          li
            a(href="/contact") Liên hệ
          li
            a(href="/privacy") Chính sách bảo mật
          li
            a(href="/terms") Điều khoản sử dụng

      .col-lg-3.col-md-6
        h5.footer-subtitle Kết nối
        ul.footer-contact
          li
            i.fa-solid.fa-envelope.me-2
            | support@musicstream.com
          li
            i.fa-solid.fa-phone.me-2
            | +84 123 456 789
          li
            i.fa-solid.fa-location-dot.me-2
            | Việt Nam

    hr.my-4

    .row.align-items-center
      .col-md-6
        p.mb-0
          | © 2026 Music Streaming. All rights reserved.

      .col-md-6.text-md-end
        .social-links
          a(href="#")
            i.fa-brands.fa-facebook-f
          a(href="#")
            i.fa-brands.fa-instagram
          a(href="#")
            i.fa-brands.fa-youtube
          a(href="#")
            i.fa-brands.fa-tiktok